google-cloud-firestore
firestore
firebase
firebase_admin
Flask-Cors==3.0.10
Flask==1.1.2
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
numpy==1.20.2
proto-plus==1.18.1
regex==2021.4.4
requests==2.25.1
urllib3==1.26.4
wasabi==0.8.2
Werkzeug==1.0.1
grpcio
grpcio-tools
opencv-contrib-python